{% extends 'base.html' %}
{% load static %}


{% block main %}



<div class="edgt-content">
    <div class="edgt-content-inner">
        <div class="edgt-title-holder edgt-standard-with-breadcrumbs-type edgt-has-bg-image edgt-bg-parallax"
            style="height: 262px; background-image: url(&quot;{% static 'images/coursebanner.jpg' %}&quot;); background-position: center 0px;"
            data-height="262">
            <div class="edgt-title-image">
                <img itemprop="image" src="{% static 'images/course-tittle-area.jpg' %}" alt="a">
            </div>
            <div class="edgt-title-wrapper" style="height: 262px">
                <div class="edgt-title-inner">
                    <div class="edgt-grid">
                        <div class="edgt-title-inner-holder">
                            <div class="edgt-title-info">
                                <h2 class="edgt-page-title entry-title" style="color: #ffffff">Blogs
                                </h2>
                            </div>
                            <div class="edgt-breadcrumbs-info">
                                <div itemprop="breadcrumb" class="edgt-breadcrumbs edgt-has-inline-style"
                                    style="color: #ffffff"><a itemprop="url"
                                        href="https://educator.qodeinteractive.com/">Home</a><span
                                        class="edgt-delimiter">&nbsp; / &nbsp;</span><span class="edgt-current">Blogs
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edgt-container edgt-default-page-template">
            <div class="edgt-container-inner clearfix">
                <div class="edgt-grid-row">
                    <div class="edgt-page-content-holder edgt-grid-col-9 edgt-content-left">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1502096336278">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="edgt-course-list-holder edgt-cl-gallery edgt-normal-space edgt-cl-three-columns edgt-cl-standard edgt-cl-pag-standard  edgt-cl-has-filter   "
                                            data-number-of-columns="3" data-space-between-items="normal"
                                            data-number-of-items="6" data-enable-image="yes"
                                            data-image-proportions="full" data-order-by="date" data-order="ASC"
                                            data-item-layout="standard" data-enable-title="yes" data-title-tag="h4"
                                            data-enable-instructor="yes" data-enable-price="yes"
                                            data-enable-excerpt="yes" data-excerpt-length="70"
                                            data-enable-students="yes" data-enable-category="no"
                                            data-enable-duration="yes" data-pagination-type="standard" data-filter="yes"
                                            data-enable-article-animation="no" data-course-slider-on="no"
                                            data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000"
                                            data-slider-speed-animation="600" data-enable-navigation="yes"
                                            data-enable-pagination="yes" data-widget="no" data-max-num-pages="4"
                                            data-next-page="2">
                                            <div class="edgt-cl-filter-holder">
                                                <div class="edgt-course-layout-filter">
                                                    <span class="edgt-active" data-type="gallery"><i
                                                            class=" icon_grid-2x2" aria-hidden="true"></i></span>
                                                    <span data-type="simple"><i class="icon_ul"
                                                            aria-hidden="true"></i></span>
                                                </div>
                                                <div class="edgt-course-items-counter">
                                                    <span class="counter-label">Showing</span>
                                                    <span class="counter-min-value">1</span>
                                                    <span class="counter-dash">–</span>
                                                    <span class="counter-max-value">6</span>
                                                    <span class="counter-label">of</span>
                                                    <span class="counter-total">23</span>
                                                </div>
                                                <div class="edgt-course-items-order">
                                                    <select class="edgt-course-order-filter select2-hidden-accessible"
                                                        tabindex="-1" aria-hidden="true" style="">
                                                        <option data-type="date" data-order="DESC">Newly Publised
                                                        </option>
                                                        <option data-type="name" data-order="ASC">A-Z</option>
                                                        <option data-type="name" data-order="DESC">Z-A</option>
                                                    </select><span
                                                        class="select2 select2-container select2-container--default"
                                                        dir="ltr" style="width: 160px;"><span class="selection"><span
                                                                class="select2-selection select2-selection--single"
                                                                role="combobox" aria-haspopup="true"
                                                                aria-expanded="false" tabindex="0"
                                                                aria-labelledby="select2-2u3k-container"><span
                                                                    class="select2-selection__rendered"
                                                                    id="select2-2u3k-container"
                                                                    title="Newly Publised">Newly Publised</span><span
                                                                    class="select2-selection__arrow"
                                                                    role="presentation"><b
                                                                        role="presentation"></b></span></span></span><span
                                                            class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                            <div class="edgt-container">
                                                <div class="edgt-container-inner clearfix">
                                                    <div class="edgt-grid-row ">
                                                        <div class="edgt-page-content-holder edgt-grid-col-12">
                                                            <div class="edgt-blog-holder edgt-blog-masonry edgt-blog-pagination-standard edgt-masonry-images-fixed edgt-blog-type-masonry edgt-blog-three-columns edgt-blog-large-space edgt-blog-masonry-in-grid"
                                                                data-blog-type="masonry" data-next-page="2"
                                                                data-max-num-pages="2" data-post-number="9"
                                                                data-excerpt-length="15" data-category="education">
                                                                <div class="edgt-blog-holder-inner"
                                                                    style="position: relative; height: 1520.55px; opacity: 1;">
                                                                    <div class="edgt-blog-masonry-grid-sizer"></div>
                                                                    <div class="edgt-blog-masonry-grid-gutter"></div>
                                                                    {% for blog in blogs %}
                                                                    <article id="post-638"
                                                                        class="edgt-post-has-media post-638 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-library tag-physics"
                                                                        style="position: absolute; left: 0%; top: 0px;">
                                                                        <div class="edgt-post-content">
                                                                            <div class="edgt-post-heading">
                                                                                <div class="edgt-post-image">
                                                                                    <a itemprop="url"
                                                                                        href="{% url 'teaching:blogdetail' pk=blog.id %} "
                                                                                        title="Studying to accomplish the greatest goals">
                                                                                        <img width="1920" height="1071"
                                                                                            src="./Blog Masonry – Educator_files/blog-featured-1.jpg"
                                                                                            class="attachment-full size-full wp-post-image"
                                                                                            alt="a"
                                                                                            srcset="https://educator.qodeinteractive.com/wp-content/uploads/2017/07/blog-featured-1.jpg 1920w, https://educator.qodeinteractive.com/wp-content/uploads/2017/07/blog-featured-1-300x167.jpg 300w, https://educator.qodeinteractive.com/wp-content/uploads/2017/07/blog-featured-1-768x428.jpg 768w, https://educator.qodeinteractive.com/wp-content/uploads/2017/07/blog-featured-1-1024x571.jpg 1024w"
                                                                                            sizes="(max-width: 1920px) 100vw, 1920px">
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="edgt-post-text">
                                                                                <div class="edgt-post-text-inner">
                                                                                    <div class="edgt-post-info-top">
                                                                                        <div itemprop="dateCreated"
                                                                                            class="edgt-post-info-date entry-date published updated">
                                                                                            <a itemprop="url"
                                                                                                href="{% url 'teaching:blogdetail' pk=blog.id %} ">
                                                                                                {{blog.date}} </a>
                                                                                            <meta
                                                                                                itemprop="interactionCount"
                                                                                                content="UserComments: 0">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="edgt-post-text-main">
                                                                                        <h4 itemprop="name"
                                                                                            class="entry-title edgt-post-title">
                                                                                            <a itemprop="url"
                                                                                                href="{% url 'teaching:blogdetail' pk=blog.id %} "
                                                                                                title="Studying to accomplish the greatest goals">
                                                                                                {{blog.blog_subject}}
                                                                                            </a>
                                                                                        </h4>
                                                                                    </div>
                                                                                    <div
                                                                                        class="edgt-post-info-bottom clearfix">
                                                                                        <div
                                                                                            class="edgt-post-info-author">
                                                                                        </div>
                                                                                        <span
                                                                                            class="edgt-post-info-author-text">
                                                                                            by </span>
                                                                                        <a itemprop="author"
                                                                                            class="edgt-post-info-author-link"
                                                                                            href="{% url 'teaching:blogdetail' pk=blog.id %} ">
                                                                                            {{blog.name}} </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article> 
                                                                    {% endfor %}   
                                                                </div>
                                                            </div>
                                                            <div class="edgt-blog-pagination">
                                                                <ul>
                                                                    <li class="edgt-pag-number">
                                                                        <a class="edgt-pag-active"
                                                                            href="https://educator.qodeinteractive.com/blog-masonry/#">1</a>
                                                                    </li>
                                                                    <li class="edgt-pag-number">
                                                                        <a itemprop="url" class="edgt-pag-inactive"
                                                                            href="https://educator.qodeinteractive.com/blog-masonry/page/2/">2</a>
                                                                    </li>
                                                                    <li class="edgt-pag-next">
                                                                        <a itemprop="url"
                                                                            href="https://educator.qodeinteractive.com/blog-masonry/page/2/">
                                                                            <span class="arrow_carrot-right"></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endblock main %}