{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <form action="{% url 'lmsdashboard:search-results' %}" method="post" novalidate="novalidate">
        Search for subjects:-
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-7">
                    <label>Enter the Course name<span>*</span></label>
                    <select name="course" class="required">
                        {% for c in course %}
                        <option value={{c.id}}>{{c.name}}</option>
                        {% endfor %}

                    </select>
                </div>

            </div>
            <div class="col-sm-5">
                <input type="submit" name="submit" value="SEARCH">
            </div>
    </div>
    </form>
</div>
</div>

{% endblock %}