{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="p-3">
            <div class="row">
                {% for t1 in teacher_list %}
                  <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body" id="b1">
                            <h2 class="card-text"><strong>{{t1.user.username}}</strong></h2>
                            <h5 class="card-text">{{t1.contact}}</h5>
                            <h5 class="card-text">{{c1.main_teacher}}</h5>
                            <p class="card-text">&#x20b9; {{c1.price}} rupees</p> 

                            <a href="" class="btn btn-primary" id="btn">View More</a>
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
            {% endblock %}

