{% extends 'institutes/base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
  </head>
  <body>
    hello login
  {% block content %}
    <form action="" method="post" novalidate> {% csrf_token %}
  <table>
     {{ form.as_table }}
     <tr>
       <td>&nbsp;</td>
       <td><input type="submit" value="Submit"></td>
     </tr>
   </table>
   </form>
  {% endblock %}
    
  </body>
</html>