{% extends 'institutes/base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject list</title>
  </head>
  <body>
    hello
    {% block content %}
    hello
    {% for i in subjects %}
    {{i}}
    <!-- <a href='{% url 'institute:subjectsinfo' i.id %}'> {{i }} </a>  <br> -->
    <!-- {% for s in schedules %}
    {{s}}
    <!-- <a href='{% url 'institute:schedule' s.id %}'>schedule</a> <br> -->
    <!-- {% endfor %} --> -->

    {% endfor %} 
 
    {% endblock %}
  </body>
</html>